.standard {
    fill: #ffff00;
    fill-opacity: 1;
    stroke: #0071ac;
    stroke-width: 0.710226;
}

#pacman {
    animation: 3s linear chomp;
}

@keyframes chomp {
    0% {
        #all-open > * {
            opacity: 0;
        }
    }

    25% {
        #smaller > * {
            opacity: 0;
        }
    }

    50% {
        #smallest > * {
            opacity: 0;
        }
    }

    75% {
        #closed > * {
            opacity: 0;
        }
    }

}
