:root {
    --animation-style: ease-in-out;
    --animation-duration: 0.5s
}

.standard {
    fill: #ffff00;
    fill-opacity: 1;
    stroke: #0071ac;
    stroke-width: 0.710226;
}

#all-open {
    animation: var(--animation-duration) var(--animation-style) infinite leave;
}

#smaller {
    animation: var(--animation-duration) var(--animation-style) infinite enter;
}

@keyframes leave {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes enter {
      0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.board {
    position: relative;
}

svg.pacman {
    position: absolute;
}
